body {
  margin: 0px;
  background-color: lightgray;
  font-family: sans-serif
}

.receipt-body {
  width: 1100px;
  margin: 70px auto;
  border: 2px solid lightgray;
  padding: 40px;
  background-color: #F0F0F0;
  position: relative;
}

@media(max-width: 360px){
  .receipt-body {
    width: 520px;
}
}


.top-grid {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  background-color: white;
  column-gap: 200px;
}

.container {
  padding: 40px;
  margin-top: 80px;
  width: 1050px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

@media (max-width: 360px){
.container{
  width: 500px;
  padding: 50px 25px 50px 20px;
}
}


img {
  width: 140px;
  margin-left: 20px;
}

@media(max-width: 360px){
 img {
  width: 80px;
  margin-left: 20px;
}
}


.tran {
  font-size: 30px;
  font-weight: 500px;
}

@media(max-width: 360px) {
  .tran {
  font-size: 19px;
}
}

.amount-cover {
  color: #33B384;
  font-weight: bolder;
  font-size: 24px;
  margin-top: 30px;
}

.amount {
 
}
.digit {
  margin-left: -5px;
}

.st {
  font-size: 19px;
  padding: 10px 0px;
}

.date {
  font-size: 15px;
  padding: 5px;
  color: gray;
}

.line {
  color: lightgray;
  font-size: 15px;
}


.line2 {
  color: lightgray;
  font-size: 15px;
  letter-spacing: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 0px;
}

.left {
 /* font-weight: bold;*/
  color: gray;
  padding: 16px;
  
}

.right {
  color: black;
  text-align: right;
  font-size: 17px;
  font-weight: 500px;
}

.right6 {
  color: gray;
  text-align: right;
  font-size: 17px;
  padding-top: 10px;
}

.ms {
  text-align: right;
  margin-top: 17px;
  color: black;
  font-size: 20px;
}

.sright {
  text-align: right;
}

.name {
  font-size: 17px;
  color: black;
  padding: 10px 0px 20px 0px;
}

.left2 {
  padding: 10px;
  color: gray;
  font-size: 16px; 
}

.gleft {
 /* font-weight: bolder;*/
  color: gray;
  font-size: 16px;
}

.grid-end {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.end {
  font-size: 17px;
  color: gray;
  margin-top: 30px;
}

.ng {
  color: #33B384;
  font-weight: bold;
}

.last {
  font-size: 12px;
  color: gray;
  font-weight: bold;
}

.button {
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.button:active {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
  

